* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  all: unset;
}
body {
  background-color: #272626;
  color: white;
}
nav {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
}
.logo {
  /* border: 2px solid red; */
  width: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.logo a {
  color: #fedcc0;
  line-height: 30px;
  letter-spacing: 10px;
  font-size: 27px;
}
nav img {
  width: 27px;
  height: 27px;
}
nav .cont {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 15px;
  justify-content: space-between;
}
.search {
  width: 85%;
  max-width: 35rem;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search input {
  width: 60%;
  padding: 1rem 1rem 1rem 40px; /* Adjust padding to make room for the image */
  background: url("search.svg") no-repeat 10px center;
  background-size: 20px 20px;
  border: 2px solid #fedcc0;
  border-radius: 8px;
  color: #bff1f4;
}
.search button {
  padding: 1rem 0 1rem 0;
  width: 30%;
  border: 2px solid #fedcc0;
  text-align: center;
  border-radius: 10px;
}

form button:hover {
  background-color: #bff1f4;
  color: #f28c28;
  border-color: black;
}

.form-inp-wrapper {
  width: 85%;
  max-width: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  /* border: 2px solid #f28c28; */
}
.form-inp {
  /* border: 2px solid #f28c28; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
.form-inp textarea {
  height: 80px;
  width: 100%;
  resize: none;
  color: #bff1f4;
  font-size: 17px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #fedcc0;
  background-color: #272626;
}
.form-inp textarea::placeholder {
  padding-top: 1em;
  text-align: center;
}
.to-no {
  height: 60px;
  width: 25%;
  border: 2px solid #fedcc0;
  text-align: center;
  border-radius: 10px;
  background-color: #272626;
  color: #bff1f4;
}
.form-inp input {
  width: 45%;
  padding-left: 2rem;
  height: 60px;
  background-color: #272626;
  border: 2px solid #fedcc0;
  border-radius: 8px;
  color: #bff1f4;
}
.form-inp .sub {
  width: 20%;
  height: 57px;
  text-align: center;
  border: 2px solid #fedcc0;
  border-radius: 10px;
}
.btn-note-list {
  border: 3px solid #fedcc0;
  padding: 10px;
  border-radius: 50%;
}
.btn-note-list:hover {
  background-color: #bff1f4;
  color: #f28c28;
  border-color: black;
}

.todonotelist {
  color: white;
  /* border: 2px solid #f28c28; */
  width: 80%;
  max-width: 35rem;
  margin: 1rem auto;
  color: black;
}
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Donot forget to tweek  it for responsiveness*/
  gap: 1em;
}
.list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 0% 25% 25% 25% / 25% 25% 25% 25%;
  padding: 1rem;
}
.list h3 {
  margin: 1rem;
  /* text-align: center; */
  font-size: 29px;
}
.todonotelist ul li {
  list-style-type: none;
}
.sort {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.sort select {
  background-color: #272626;
  height: 3rem;
  background-color: #e5284f;
  color: #bff1f4;
  border-radius: 14px;
  text-align: center;
}
.sort button {
  /* border: 2px solid #e5284f; */
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 14px;
  background-color: #e5284f;
  color: #bff1f4;
}
.sort button:hover {
  background-color: #bff1f4;
  color: #f28c28;
  border-color: black;
}

@media screen and (min-width: 601px) and (max-width: 1280px) {
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .search {
    max-width: 40rem;
  }
  .form-inp-wrapper {
    width: 85%;
    max-width: 40rem;
  }
  .todonotelist {
    max-width: 50rem;
  }
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
