* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  all: unset;
}
body {
  background-color: #272626;
  color: white;
}
nav {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
}

/* nav ul li {
  display: inline-block;
} */
.logo {
  /* border: 2px solid red; */
  width: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.logo a {
  color: #fedcc0;
  line-height: 30px;
  letter-spacing: 10px;
  font-size: 27px;
}
nav img {
  width: 27px;
  height: 27px;
}
nav .cont {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 15px;
  justify-content: space-between;
}
.search {
  width: 85%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.search input {
  height: 50px;
  width: 60%;
  padding-left: 40px; /* Adjust padding to make room for the image */
  background: url("search.svg") no-repeat 10px center;
  background-size: 20px 20px;
  border: 2px solid #fedcc0;
  border-radius: 8px;
  color: #bff1f4;
}
.search button {
  height: 50px;
  width: 30%;
  border: 2px solid #fedcc0;
  text-align: center;
  border-radius: 10px;
}

form button:hover {
  background-color: #bff1f4;
  color: #f28c28;
  border-color: black;
}

.form-inp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border: 2px solid #f28c28;
}
.form-inp {
  width: 85%;
  margin: auto;
  height: 100px;
  /* border: 2px solid #f28c28; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-inp textarea {
  color: #bff1f4;
  font-size: 17px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  max-width: 60%;
  /* width: 60%; */
  max-height: 80px;
  border: 2px solid #fedcc0;
  background-color: #272626;
}
.btn-note-list {
  border: 3px solid #fedcc0;
  padding: 10px;
  border-radius: 50%;
}
.to-no {
  height: 50px;
  width: 30%;
  border: 2px solid #fedcc0;
  text-align: center;
  border-radius: 10px;
  background-color: #272626;
  color: #bff1f4;
}

.todonotelist {
  color: white;
  /* border: 2px solid #f28c28; */
  width: 80%;
  margin: auto;
  color: black;
}
.todonotelist ul li {
  list-style-type: none;
}
.list-container {
  border: 2px solid goldenrod;
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5rem; */
}

.list {
  width: 9.5rem;
  padding: 1rem;
}
